<app-nav></app-nav>
<div class="container">
    <h1>Nuestro servicios disponibles :</h1>
  
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="https://picsum.photos/seed/130/400/300" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Dirección de Transporte Público</h5>
                    <p class="card-text">Baja de Placas del Transporte Público.</p>
                    <a href="#" class="btn btn-dark">Requisitos para tramitar.</a>
                </div>
            </div>
        </div>
  
        <!-- Repite el bloque de código anterior para los otros servicios -->
        
        <!-- Ejemplo para otro servicio -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="https://picsum.photos/seed/133/400/300" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Dirección de Transporte Público</h5>
                    <p class="card-text">Refrendo del Transporte Público.</p>
                    <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
                </div>
            </div>
        </div>
  
        <div class="col-md-4 mb-3">
          <div class="card">
              <img src="https://picsum.photos/seed/134/400/300" class="card-img-top" alt="">
              <div class="card-body">
                  <h5 class="card-title">Dirección de Transporte Público</h5>
                  <p class="card-text">Cambio de Vehículo del Transporte Público.</p>
                  <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
              </div>
          </div>
      </div>
  
      <div class="col-md-4 mb-3">
        <div class="card">
            <img src="https://picsum.photos/seed/135/400/300" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Dirección de Transporte Público</h5>
                <p class="card-text">Constancia de Permisionario del Transporte Público.</p>
                <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-3">
      <div class="card">
          <img src="https://picsum.photos/seed/30/400/300" class="card-img-top" alt="">
          <div class="card-body">
              <h5 class="card-title">Dirección de Transporte Público</h5>
              <p class="card-text">Reposición  de Placas del Transporte Público.</p>
              <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
          </div>
      </div>
  </div>
   
  <div class="col-md-4 mb-3">
    <div class="card">
        <img src="https://picsum.photos/seed/31/400/300" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dirección de Transporte Público</h5>
            <p class="card-text">Cesión de Derechos de Concesión del Transporte público.</p>
            <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
        </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-3">
    <div class="card">
        <img src="https://picsum.photos/seed/20/400/300" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dirección de Transporte Público</h5>
            <p class="card-text">Liberación de Vehículos Persona Física.</p>
            <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
        </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-3">
  <div class="card">
      <img src="https://picsum.photos/seed/13/400/300" class="card-img-top" alt="">
      <div class="card-body">
          <h5 class="card-title">Dirección de Transporte Público</h5>
          <p class="card-text">Liberación de Vehículos Persona Moral.</p>
          <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
      </div>
  </div>
  </div>
  
  <div class="col-md-4 mb-3">
  <div class="card">
    <img src="https://picsum.photos/seed/139/400/300" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Dirección de Transporte Público</h5>
        <p class="card-text">Liberación de Vehículos Transporte Público.</p>
        <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
    </div>
  </div>
  </div>
  
  <div class="col-md-4 mb-3">
    <div class="card">
        <img src="https://picsum.photos/seed/11/400/300" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dirección de Transporte Público</h5>
            <p class="card-text">Verificación de facturas vehiculares de otras entidades.</p>
            <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
        </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-3">
  <div class="card">
      <img src="https://picsum.photos/seed/130/400/300" class="card-img-top" alt="">
      <div class="card-body">
          <h5 class="card-title">Registro Público de Movilidad</h5>
          <p class="card-text">Permiso para conducir menor de edad.</p>
          <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
      </div>
  </div>
  </div>
  
  <div class="col-md-4 mb-3">
  <div class="card">
    <img src="https://picsum.photos/seed/11/400/300" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">Registro Público de Movilidad</h5>
        <p class="card-text">Licencia de conducir primera vez.</p>
        <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
    </div>
  </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card">
      <img src="https://picsum.photos/seed/140/400/300" class="card-img-top" alt="">
      <div class="card-body">
          <h5 class="card-title">Registro Público de Movilidad</h5>
          <p class="card-text">Licencia de conducir renovación.</p>
          <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
      </div>
    </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
          <img src="https://picsum.photos/seed/141/400/300" class="card-img-top" alt="">
          <div class="card-body">
              <h5 class="card-title">Registro Público de Movilidad</h5>
              <p class="card-text">Licencia de operador certificado del Transporte Público.</p>
              <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
          </div>
        </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
              <img src="https://picsum.photos/seed/102/400/300" class="card-img-top" alt="">
              <div class="card-body">
                  <h5 class="card-title">Registro Público de Movilidad</h5>
                  <p class="card-text">Constancia Informativa de Concesión.</p>
                  <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
              </div>
            </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                  <img src="https://picsum.photos/seed/111/400/300" class="card-img-top" alt="">
                  <div class="card-body">
                      <h5 class="card-title">Registro Público de Movilidad</h5>
                      <p class="card-text">Constancia de Historial de Licencia.</p>
                      <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
                  </div>
                </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                      <img src="https://picsum.photos/seed/110/400/300" class="card-img-top" alt="">
                      <div class="card-body">
                          <h5 class="card-title">Registro Público de Movilidad</h5>
                          <p class="card-text">Registro de Operadores del Transporte Publico con Antigüedad.</p>
                          <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                          <img src="https://picsum.photos/seed/300/400/300" class="card-img-top" alt="">
                          <div class="card-body">
                              <h5 class="card-title">Dirección de Movilidad e Imagen Urbana</h5>
                              <p class="card-text">Capacitación Vial, de Seguridad y/o de Movilidad.</p>
                              <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
                          </div>
                        </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                              <img src="https://picsum.photos/seed/129/400/300" class="card-img-top" alt="">
                              <div class="card-body">
                                  <h5 class="card-title">Dirección de Movilidad e Imagen Urbana</h5>
                                  <p class="card-text">Estudio de Evaluación de la Movilidad.</p>
                                  <a href="#" class="btn btn-dark">Requisitos para tramitar</a>
                              </div>
                            </div>
                            </div>
        <!-- Repite este bloque para los demás servicios -->
    </div>
  </div>
  <app-footer></app-footer>