/* styles.css */
.registration-form {
    background-color: #ffffff; /* Puedes ajustar el color a tu preferencia */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000; /* Cambia el color del texto para que se vea bien en el fondo */
  }
  