<br>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Licencia de Conducir</h5>
            <p><strong>Nombre:</strong> John Doe</p>
            <p><strong>Fecha de nacimiento:</strong> 01/01/1990</p>
            <p><strong>Número de licencia:</strong> XXXX-XXXX-XXXX</p>
            <p><strong>Fecha de expiración:</strong> 01/01/2025</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Tarjeta de Circulación</h5>
            <p><strong>Propietario:</strong> John Doe</p>
            <p><strong>Marca:</strong> Toyota</p>
            <p><strong>Modelo:</strong> Corolla</p>
            <p><strong>Año:</strong> 2020</p>
            <p><strong>Número de placa:</strong> XXX-123</p>
            <p><strong>Fecha de vencimiento:</strong> 01/01/2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>