

<head>
  <meta charset="utf-8">
  <title>PagoEfectivo</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="pago-ee.component.css"> <!-- Enlaza tu archivo de CSS -->
</head>

<body>
  <header>
  <div class="payment-container">
    <div class="payment-form">
      <h2>¿Donde quieres pagar?...</h2>
      <form>
        <label name="Tar" routerLink="/pagoE-t">
          <!--<input type="radio" name="payment-method" value="credit-card">--> 
          <img src="../../assets/images/oxxo.png" routerLink = "/pagoE-t" alt="Oxxo">Oxxo
          
        </label>
        <label name="pay" routerLink="/home">
          <!--<input type="radio" name="payment-method" value="paypal">--> 
          <img src="../../assets/images/eleven.png" routerLink = "/home" alt="Eleven"> 7-Eleven
        </label>
        <label name="efec" routerLink="/home">
         <!--<input type="radio" name="payment-method" value="efect">--> 
          <img src="../../assets/images/farmacia.png" routerLink = "/home" alt="Farmacias"> Farmacias del Ahorro
        </label>
        <!--<button class="pay-button" onclick="continueToPayment()">Continuar</button>-->
      </form>
    </div>
  </div>
</header>

  <!-------------------------->

  <!-------------->
