<br>
<h1 style="text-align: center">Ubicación:</h1>;
<p style="text-align: center;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7425.290227374983!2d-104.88218507726134!3d21.482437157897152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8427375496ff1011%3A0x287df5746aa1c466!2sSecretar%C3%ADa%20De%20Movilidad%20Del%20Estado%20De%20Nayarit!5e0!3m2!1ses-419!2smx!4v1698722460269!5m2!1ses-419!2smx" width="800" height="450" style="border:0; position: relative; left: 50px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </p>
 <!-- Footer -->
  <footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span></span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/MovilidadNayarit/" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/movilidadnay" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/semovinayarit/" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              Gobierno del Estado de Nayarit
            </h6>
            <p>
              La grandeza de Nayarit está en su gente, que transforma lo ordinario en extraordinario, que pone el alma y el corazón en lo que hace y que va más allá de todo para hacer que sucedan cosas extraordinarias.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Categorias
            </h6>
            <p>
              <a href="#!" class="text-reset">Trámites y servicios</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Citas</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Pagos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Denuncias</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Web
            </h6>
            <p>
              <a href="#!" class="text-reset">Políticas de uso y privacidad</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Acerca de esta página</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Dudas/Sugerencias</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ayuda</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Av. Rey Nayar Col. Burócrata Federal. CP 63156, Tepic, Nayarit.</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              sec.movilidad@nayarit.gob.mx
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> 311 213 57 12</p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> 311 213 57 14</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Derechos Reservados:
      <a class="text-reset fw-bold" href="#">Los Once</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->