<head>
    <meta charset="utf-8">
    <title>Seleccionar Método de Pago - MiTienda</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="pago-ep.component.css"> <!-- Enlaza tu archivo de CSS -->
  </head>
  
  <body>
    <header>
<div class="payment-container">
    <div class="payment-form">
      <h2>Selecciona un Método de Pago</h2>
      <form>
        <label name="Tar" routerLink="/Pagotarjeta">
          <!--<input type="radio" name="payment-method" value="credit-card">--> 
          <img src="../../assets/images/tarjetadc.png" routerLink = "/Pagotarjeta" alt="Tarjeta de Crédito o Débito">Tarjeta de Crédito o Débito
          
        </label>
        <label name="pay" routerLink="/home">
          <!--<input type="radio" name="payment-method" value="paypal">--> 
          <img src="../../assets/images/paypal.png" routerLink = "/home" alt="PayPal"> Paypal
        </label>
        <label name="efec" routerLink="/Pagoefectivo">
         <!--<input type="radio" name="payment-method" value="efect">--> 
          <img src="../../assets/images/efectivo.png" routerLink = "/Pagoefectivo" alt="Efectivo"> Efectivo en puntos de pago
        </label>
        <!--<button class="pay-button" onclick="continueToPayment()">Continuar</button>-->
      </form>
    </div>
  </div>

  <!------------------------>
