    <form class="mt-5" [formGroup]="tabsForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
        <input type="text" 
                formControlName="idUsuario"
                class="form-control"
                placeholder="idUsuario"
                [value]="guardarId"
                [readonly]="true">
        </div>
    
        <div class="card-header primary">
        <h2>Selecciona un método de pago disponible </h2>
        </div>
    
        <div class="mb-3">
        <select class="form-control" formControlName="TipoPago" placeholder="TipoPago">
            <option value="Tarjeta de credito">Tarjeta de Crédito / Debito</option>
            <option value="Efectivo">Efectivo</option>
        </select>
        </div>
    
        <div class="mb-3">
            <div class="card-header primary">
                <h2>Seleccione el tramite que desea pagar</h2>
            </div>
        <select class="form-control" formControlName="Concepto" placeholder="Concepto" (change)="onConceptoSeleccionado()">
            <option *ngFor="let concepto of tiposTramite" [value]="concepto">{{ concepto }}</option>
        </select>
        </div>
        <div class="mb-3">
            <div class="card-header primary">
            <h2>Costo del trámite</h2>
            </div>
            <input type="text" 
            formControlName="Cantidad"
            class="form-control"
            placeholder="Cantidad"
            value="Cantidad"
            [readonly]="true">
        </div>
        <div *ngIf="tabsForm.get('TipoPago')?.value === 'Tarjeta de credito'">
        <div class="mb-3">
            <label for="numTarjeta">Número de Tarjeta:</label>
            <input type="text" class="form-control" formControlName="numTarjeta" placeholder="Número de Tarjeta">
        </div>
        <div class="mb-3">
            <label for="nombreTarjeta">Nombre del Titular de la tarjeta:</label>
            <input type="text" class="form-control" formControlName="nombreTarjeta" placeholder="Nombre del titular (Ejemplo: MARCO A CHAVEZ)">
        </div>
        <div class="mb-3">
            <label for="FechaTarjeta">Fecha de vencimiento. Formato: (MM/AA)</label>
            <input type="text" class="form-control" formControlName="FechaTarjeta" placeholder="Fecha de vencimiento (Detrás de tu tarjeta, Ejemplo: 24/30)">
        </div>
        <div class="mb-3">
            <label for="CVV">CVV:</label>
            <input type="text" class="form-control" formControlName="CVV" placeholder="CVV (Son los trés numeros detrás de tu tarjeta)">
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Pagar Servicio</button>
    </form>