<ng-container *ngIf="listarCitas.length > 0">
  <html>
    <head> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1 class="text-left">Tramites</h1>
          </div>
        </div>
      </div>

      
      <div class="table-responsive">
        <table class="table table-bordered table-tinto">
          <thead class="table-tinto">
            <tr>
              <th class="text-white">ID CITA</th>
              <th class="text-white">Fecha</th>
              <th class="text-white">Hora</th>
              <th class="text-white">Trámite</th>
              <th class="text-white">Módulo</th>
              <th class="text-white">Estado de la cita</th>
              <th class="text-white">Confirmar Cita</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cita of listarCitas">
              <td class="text-white">{{cita.idCita}}</td>
              <td class="text-white">
                <i class="far fa-calendar-alt"></i>
                {{ cita.Fecha | date : "dd/MM/yyyy" }}
              </td>
              <td class="text-white"><i class="far fa-clock"></i> {{ cita.Hora }}</td>
              <td class="text-white"><i class="fas fa-clipboard"></i> {{ cita.TipoTramite }}</td>
              <td class="text-white"><i class="fas fa-map-marker-alt"></i> {{ cita.Modulo }}</td>
              <td class="text-white">{{cita.EstadoCita}}</td>
              <td class="text-white">
                Confirmar-> <i [routerLink]="['/validar-citas', cita._id]" class="fas fa-check-circle text-primary"></i>
                <!--<i (click)="eliminarCita(cita._id)" class="fas fa-trash-alt text-danger"></i>-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </body>
  </html>
</ng-container>
