<app-nav></app-nav>
<div class="image-container">
    <img src="../../../assets/images/denuncias.png" class="responsive-image" alt="Denuncias">
    <button class="button">Denunciar ahora</button>
</div>
<br>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let denuncia of listarDenuncias">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Denuncia ciudadana: {{denuncia.idDenuncia}}, Fecha: {{denuncia.Fecha}}</h5>
                    <img src={{denuncia.Foto}} style="width:340px; height:300px;">
                    <p class="card-text">{{denuncia.Descripcion}}</p>
                    <p>{{denuncia.Calles}}, {{denuncia.Colonia}}, {{denuncia.Municipio}}</p>
                </div>
            </div>
        </div>
    </ng-container>
  </div>
</div>
<app-footer></app-footer>