<app-nav></app-nav>

  <!-------------->
  <ngx-slick-carousel class="carousel" #slickModule [config]="slideConfig">
    <div ngxSlickItem *ngFor="let image of images">
      <img width="100%" height="300px" [src]="image?.img" alt="img">
    </div>
  </ngx-slick-carousel>
  <br>
  <div class="image-row">
    <img src="../../assets/images/Tramita.jpg" alt="Imagen 1" class="responsive-image">
    <img src="../../assets/images/Agiliza.jpg" alt="Imagen 2" class="responsive-image">
    <img src="../../assets/images/Chatbot.png" alt="Imagen 3" class="responsive-image">
  </div>
  
  <br>
  
  <div id="twitter-widget-container"></div>

  <app-footer></app-footer>