
header{

    padding:12px 0;
    background-color: #ffffff;
  
  
  }
  .menu{
   margin-top: 10px;
  }
  .menu ul{
    padding: 0;
    margin:0;
  
  }
  
  .menu ul li{
    list-style-type: none;
  
    display: inline-block;
  
    margin-left: 24px;
  
    text-transform: uppercase;
  
  }
  .menu ul li a{
    list-style: none;
    text-decoration: none;
    color: #000000;
  }
  .menu ul li a:hover{
    color: #e9c62c;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }
  @media(max-width: 999px){
    .menu {
      position: fixed;
      right: -280px;
      top: 64px;
      width: 280px;
      height: 100%;
      background: #ffffff;
      transition: 0.4s ease-in-out;
      z-index: 999; /* Valor alto para estar por encima de otros elementos */
    }
    
  .menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid hsl(0, 0%, 100%);
  
  }
  .menu_icon{
    display: inline-block;
    position: relative;
    right: -80px;
    top: 20 px;
  
  }
  
  
  .menu_icon span {
    width: 32px;
    height: 3px;
    background: #000000;
    display: block;
    transition: 0.2s ease-in-out;
  
  }
  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  
  }
  .menu_iconClass span:nth-child(2){
  
  display: none;
  }
  
  .menu_iconClass span:nth-child(1){
  
    transform: rotate(40deg);
  }
  
  
  .menu_iconClass span:nth-child(3){
  
    transform: rotate(-40deg);
    margin-top: -3px;
  }
  
  .menuClasse{
  
  right: 0;
  transition: 0.4s ease-in-out;
  
  }
  }
.logo2{
    height: 40px;
}
.banner{
    width: 1355px;
    height: 400px;
    position: relative;
    margin-top: -370px;
    left: 1px;
    background-repeat: no-repeat; 
}
.image_one{
  position: relative;
  right: -30px;
  border-radius: 25px;
  border: 2px solid #ba8f56;
}
.carousel{
  position: relative;
  right: 25px;
}
.imageuno{
  max-width: 100%;
  height: auto;
  position: relative;
  left: 20px;
}

.image-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  margin: 0 30px 0 0; /* Agregar margen de 10px a la izquierda */
}

/* Media query para cambiar a diseño vertical en vista móvil */
@media (max-width: 768px) {
  .image-row {
    flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0; /* Eliminar margen en vista móvil */
  }

  .responsive-image {
    margin: 0 0 30px 0; /* Agregar margen de 10px abajo en vista móvil */
  }
}



 