

  
  <div class="contenido">
   

    <div [hidden]="tabActiva !== 0">
  
        <div class="container mt-4">
  
         
              <div class="pestanas button">
                <button (click)="mostrarContenido(0)" [class.active]="tabActiva === 0">Agendar cita</button>
                <button (click)="mostrarContenido(1)" [class.active]="tabActiva === 1">Mis Citas</button>
                <button (click)="mostrarContenido(2)" [class.active]="tabActiva === 2">Informacion</button>
              </div>
        
            <div class="card">
              <div class="card-header mi-color">
                <h5 class="card-title">1. Informacion de la cita</h5>
              </div>
              <div class="card-body">
                <form>
                  <!-- Combo Box para la Entidad Federativa -->
                  <div class="form-group">
                    <label for="entidadFederativa">Entidad Federativa:</label>
                    <select class="form-control " id="entidadFederativa" name="entidadFederativa">
                      <option value="entidad1">Nayarit</option>
                      <!-- Agrega más opciones según sea necesario -->
                    </select>
                  </div>
          
                  <!-- Combo Box para el Municipio -->
                  <div class="form-group">
                    <label for="municipio">Municipio:</label>
                    <select class="form-control" id="municipio" name="municipio">
                      <option value="municipio1">Municipio 1</option>
                      <option value="municipio2">Municipio 2</option>
                   
                    </select>
                  </div>
          
                  <!-- Combo Box para el Módulo -->
                  <div class="form-group">
                    <label for="moduloCita">Módulo:</label>
                    <select class="form-control" id="moduloCita" name="moduloCita">
                      <option value="modulo1">Módulo 1</option>
                      <option value="modulo2">Módulo 2</option>
                 
                    </select>
                  </div>
          
                  <!-- Selector de Fecha -->
                  <div class="form-group">
                    <label for="fecha">Fecha:</label>
                    <input type="date" class="form-control" id="fecha" name="fecha">
                  </div>
          
                  <!-- Combo Box para la Hora -->
                  <div class="form-group">
                    <label for="horaCita">Hora:</label>
                    <select class="form-control" id="horaCita" name="horaCita">
                      <option value="hora1">9:00</option>
<option value="hora2">9:10</option>
<option value="hora3">9:20</option>
<option value="hora4">9:30</option>
<option value="hora5">9:40</option>
<option value="hora6">9:50</option>
<option value="hora7">10:00</option>
<option value="hora8">10:10</option>
<option value="hora9">10:20</option>
<option value="hora10">10:30</option>
<option value="hora11">10:40</option>
<option value="hora12">10:50</option>
<option value="hora13">11:00</option>
<option value="hora14">11:10</option>
<option value="hora15">11:20</option>
<option value="hora16">11:30</option>
<option value="hora17">11:40</option>
<option value="hora18">11:50</option>
<option value="hora19">12:00</option>
<option value="hora20">12:10</option>
<option value="hora21">12:20</option>
<option value="hora22">12:30</option>
<option value="hora23">12:40</option>
<option value="hora24">12:50</option>
<option value="hora25">13:00</option>
<option value="hora26">13:10</option>
<option value="hora27">13:20</option>
<option value="hora28">13:30</option>
<option value="hora29">13:40</option>
<option value="hora30">13:50</option>
<option value="hora31">14:00</option>
<option value="hora32">14:10</option>
<option value="hora33">14:20</option>
<option value="hora34">14:30</option>
<option value="hora35">14:40</option>
<option value="hora36">14:50</option>
<option value="hora37">15:00</option>
<option value="hora38">15:10</option>
<option value="hora39">15:20</option>
<option value="hora40">15:30</option>
<option value="hora41">15:40</option>
<option value="hora42">15:50</option>

                     
                     
                    </select>
                  </div>
                </form>
              </div>
            </div>
          
            <!-- Sección 2 - Documentos -->
            <div class="card mt-4">
              <div class="card-header mi-color">
                <h5 class="card-title">2. Documentos</h5>
              </div>
              <div class="card-body">
                <form>
                  <!-- Combo Box para el tipo de trámite -->
                  <div class="form-group">
                    <label for="tipoTramite">Trámite a realizar</label>
                    <select class="form-control" id="tipoTramite" name="tipoTramite">
                      <option value="tramite1">Pago De tenencia</option>
                      <!-- Agrega más opciones según sea necesario -->
                    </select>
                  </div>
          
                  <!-- Combo Box para el documento de nacionalidad -->
                  <div class="form-group">
                    <label for="documentoNacionalidad">Documento de nacionalidad:</label>
                    <select class="form-control" id="documentoNacionalidad" name="documentoNacionalidad">
                      <option value="doc1">Acta de nacimiento</option>
                      <option value="doc2">Pasaporte</option>
                      <option value="doc3">Certificado De Nacionalidad</option>
                      <!-- Agrega más opciones según sea necesario -->
                    </select>
                  </div>
          
                  <!-- Combo Box para el documento de identidad con fotografía -->
                  <div class="form-group">
                    <label for="documentoIdentidad">Documento de identidad con fotografía:</label>
                    <select class="form-control" id="documentoIdentidad" name="documentoIdentidad">
                      <option value="foto1">Pasaporte</option>
                      <option value="foto2">Cedula de identidad</option>
                      <option value="foto3">Licencia de conducir</option>
                      <option value="foto4">DNI</option>
            
                      <!-- Agrega más opciones según sea necesario -->
                    </select>
                  </div>
          
                  <!-- Combo Box para el comprobante de domicilio -->
                  <div class="form-group">
                    <label for="comprobanteDomicilio">Comprobante de domicilio:</label>
                    <select class="form-control" id="comprobanteDomicilio" name="comprobanteDomicilio">
                      <option value="comprobante1">Recibo de luz</option>
                      <option value="comprobante2">Recibo de agua</option>
                      <option value="comprobante3">Recibo de gas</option>
                      <option value="comprobante4">Estado de cuenta bancaria</option>
      
                    </select>
                  </div>
                     <!-- Botón de Envío -->
              <br>
              <button type="submit" class="btn btn-primary BOTONCENTRO">Agendar Cita ya</button>
                </form>
              </div>
            </div>

         
      
       
  
    
    </div>
      
    </div>
    
    <div [hidden]="tabActiva !== 1">
      <div class="pestanas button">
        <button (click)="mostrarContenido(0)" [class.active]="tabActiva === 0">Agendar cita</button>
        <button (click)="mostrarContenido(1)" [class.active]="tabActiva === 1">Mis Citas</button>
        <button (click)="mostrarContenido(2)" [class.active]="tabActiva === 2">Informacion</button>
      </div>

          <div class="card">
              <div class="card-header mi-color">
                <h5 class="card-title">Mis citas</h5>
              </div>
              <div class="card-body">
                <label for="comprobanteDomicilio">Aún no tienes citas Realizadas.</label>
                  </div>
          
          
            </div>
          </div>

    <div [hidden]="tabActiva !== 2">
      <div class="pestanas button">
        <button (click)="mostrarContenido(0)" [class.active]="tabActiva === 0">Agendar cita</button>
        <button (click)="mostrarContenido(1)" [class.active]="tabActiva === 1">Mis Citas</button>
        <button (click)="mostrarContenido(2)" [class.active]="tabActiva === 2">Informacion</button>
      </div>
      <h2>Contenido de la Pestaña 3</h2>

    </div>
  </div>
  