<div class="contenido">
  <div [hidden]="tabActiva !== 0">

    <div class="container mt-4">

      <div class="pestanas button">
        <button (click)="mostrarContenido(0)" [class.active]="tabActiva === 0">Agendar cita</button>
        <button (click)="mostrarContenido(1)" [class.active]="tabActiva === 1">Mis Citas</button>
        
      </div> 


      <div class="card">

        <div class="card-header mi-color">
          <h3 class="card-title"> Agendar una nueva cita.</h3>
        </div>
        <div class="card-body">

          <div class="row">
            <!-- Columna izquierda para el formulario -->
            <div class="col-md-8">
              <form class="mt-5" [formGroup]="tabsForm" (ngSubmit)="agregarCita()">
                <div class="mb-3">
                  <input type="text" 
                  formControlName="idUsuario"
                  class="form-control"
                  placeholder="idUsuario"
                  [value]="guardarId"
                  [readonly]="true">
                </div>
                
                <!-- Modulo -->
                <div class="mb-3">
                  <div class="card-header mi-color">
                    <h5 class="card-title">Modulo</h5>
                  </div>
                  <select class="form-control" formControlName="Modulo" placeholder="Modulo">
                    <option value="Tepic">Módulo 1 (Tepic)</option>
                    <option value="Bahia de Banderas">Módulo 2 (Bahia de Banderas)</option>
                  </select>
                    <div class="text-danger" *ngIf="tabsForm.get('Modulo')?.hasError('required') && tabsForm.get('Modulo')?.touched">
                        <span>Selecciona el módulo  <strong>es obligatorio</strong></span>
                    </div>
                </div> <!--Aqui cierra el div mb-3-->
                <div class="mb-3">
                  <div class="card-header mi-color">
                    <h5 class="card-title">Fecha</h5>
                  </div>
                  <input type="date" class="form-control"  formControlName="Fecha" placeholder="Fecha">
                  <div class="text-danger" *ngIf="tabsForm.get('Fecha')?.hasError('required') && tabsForm.get('Fecha')?.touched">
                    <span>Selecciona la fecha de la cita  <strong>es obligatoria</strong></span>
                </div>
                </div> <!-- Aqui cierra la fecha-->
                <div class="mb-3">
                  <div class="card-header mi-color">
                    <h5 class="card-title"> Horario </h5>
                  </div>
                  <select class="form-control" formControlName="Hora" placeholder="Hora">
                    <option value="9:10">9:10</option>
                    <option value="9:20">9:20</option>
                    <option value="9:30">9:30</option>
                    <option value="9:40">9:40</option>
                    <option value="9:50">9:50</option>
                    <option value="10:00">10:00</option>
                    <option value="10:10">10:10</option>
                    <option value="10:20">10:20</option>
                    <option value="10:30">10:30</option>
                    <option value="10:40">10:40</option>
                    <option value="10:50">10:50</option>
                    <option value="11:00">11:00</option>
                    <option value="11:10">11:10</option>
                    <option value="11:20">11:20</option>
                    <option value="11:30">11:30</option>
                    <option value="11:40">11:40</option>
                    <option value="11:50">11:50</option>
                    <option value="12:00">12:00</option>
                    <option value="12:10">12:10</option>
                    <option value="12:20">12:20</option>
                    <option value="12:30">12:30</option>
                    <option value="12:40">12:40</option>
                    <option value="12:50">12:50</option>
                    <option value="13:00">13:00</option>
                    <option value="13:10">13:10</option>
                    <option value="13:20">13:20</option>
                    <option value="13:30">13:30</option>
                    <option value="13:40">13:40</option>
                    <option value="13:50">13:50</option>
                    <option value="14:00">14:00</option>
                    <option value="14:10">14:10</option>
                    <option value="14:20">14:20</option>
                    <option value="14:30">14:30</option>
                    <option value="14:40">14:40</option>
                    <option value="14:50">14:50</option>
                    <option value="15:00">15:00</option>
                    <option value="15:10">15:10</option>
                    <option value="15:20">15:20</option>
                    <option value="15:30">15:30</option>
                    <option value="15:40">15:40</option>
                    <option value="15:50">15:50</option>                    
                  </select>
                  <div class="text-danger" *ngIf="tabsForm.get('Hora')?.hasError('required') && tabsForm.get('Hora')?.touched">
                    <span>Seleccione la hora de la cita  <strong>es obligatoria</strong></span>
                </div> 
                </div> <!--Aqui cierra la hora-->
                <div class="mb-3">
                  <div class="card-header mi-color">
                    <h5 class="card-title">Tipo de tramite</h5>
                  </div>
                  <select class="form-control" placeholder="TipoTramite" formControlName="TipoTramite">
                    <option value="Pago de Tenecias">Pago de tenecias</option>
                    <option value="Pago de Multa">Pago de multa</option>
                  </select>
                  <div class="text-danger" *ngIf="tabsForm.get('TipoTramite')?.hasError('required') && tabsForm.get('TipoTramite')?.touched">
                    <span>Seleccione el tipo de tramite  <strong>es obligatoria</strong></span>
                </div> 
                </div> <!--Aqui cierra el tipo d etramite-->
                <div class="mb-3">
                  <button routerLink="/new-citas" class="btn btn-danger btn-lg float-start">Cancelar</button>
                  <button type="submit" class="btn btn-primary btn-lg float-end" >Aceptar</button>
              </div>
            </form>
            </div>
            <div class="col-md-4">
              <hr>
              <div class="image-container">
                <img
                  src="https://us.123rf.com/450wm/takseller/takseller2306/takseller230617321/207734480-escena-callejera-de-la-ciudad-de-nueva-york-con-personas-y-autom%C3%B3viles.jpg?ver=6">

              </div>
              <hr>
              <div class="card">
                <div class="card-header mi-color">
                  <h5 class="card-title">DOCUMENTOS NECESARIOS DE LLEVAR AL ASISTIR A TU CITA PROGRAMADA.</h5>
                </div>
                <div class="card-body">
                  <!-- Contenido adicional en el card-body -->
                  <p style="font-size: medium;">1. Identificación oficial (Credencial del INE)</p>
                  <p style="font-size: medium;">2. Comprobante de domicilio (Agua,Luz o Teléfono)</p>
                  <p style="font-size: medium;">3. Acta de Nacimiento</p>
                  <p style="font-size: medium;">4. Copia de la CURP y RFC</p>
                  <p style="font-size: medium;">5. Carta de Antecedentes No Penales</p>
                </div>
              </div>

            </div><!-- columna 2 -->
          </div>
        </div>
      </div>
    </div> 
  </div> 

    <!-- pestaña 2 -->
    <div [hidden]="tabActiva !== 1">
      <div class="container mt-4">
        <div class="pestanas button">
          <button (click)="mostrarContenido(0)" [class.active]="tabActiva === 0">Agendar cita</button>
          <button (click)="mostrarContenido(1)" [class.active]="tabActiva === 1">Mis Citas</button>
        </div>
        <div class="card">
          <div class="card-header mi-color">
            <h5 class="card-title">Mis citas</h5>
          </div>
        </div>
        <div class="card-body">
          <br>
          <ng-container *ngIf="listarCitas.length > 0">
            <div class="row">
              <div class="col-md-4 mb-3" *ngFor="let cita of listarCitas">
                <div class="card cita-card">
                  <div class="card-body">
                    <h5 class="card-title cita-title"><i class="far fa-calendar-alt"></i> Fecha: {{ cita.Fecha | date:'dd/MM/yyyy' }}</h5>
                    <p class="card-text"><i class="far fa-clock"></i> Hora: {{ cita.Hora }}</p>
                    <p class="card-text"><i class="fas fa-clipboard"></i> Trámite: {{ cita.TipoTramite }}</p>
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i> Módulo: {{ cita.Modulo }}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <br>
        <div class="card-body">
          <ng-container *ngIf="listarCitas.length > 0">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Trámite</th>
                    <th>Módulo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cita of listarCitas">
                    <td>
                      <i class="far fa-calendar-alt"></i> {{ cita.Fecha | date:'dd/MM/yyyy' }}
                    </td>
                    <td>
                      <i class="far fa-clock"></i> {{ cita.Hora }}
                    </td>
                    <td>
                      <i class="fas fa-clipboard"></i> {{ cita.TipoTramite }}
                    </td>
                    <td>
                      <i class="fas fa-map-marker-alt"></i> {{ cita.Modulo }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </div>
        
        
      </div>
    </div>
    
  <br>
  <app-footer></app-footer>
  