<app-nav></app-nav>

<body>
  <header>
   
  <div class="payment-container">
    <div class="payment-form">
        <h2>Detalles de Pago</h2>
        <form>
            <input type="text" placeholder="Concepto" required>
            <input type="text" placeholder="Total a pagar" required>
        </form>
    </div>
</div>


  <div class="info-container">
    <div class="info-form">
      <h2>Tarjeta de Crédito/Débito</h2>
      <form>
        <input type="text" placeholder="Número de tarjeta" required>
        <input type="text" placeholder="Nombre en la tarjeta" required>
        <input type="text" placeholder="Fecha de vencimiento (MM/AA)" required>
        <input type="text" placeholder="CVV" required>
        <button class="pay-button">Pagar Ahora</button>
      </form>
    </div>
  </div>
</header>
</body>


<!-------------------->
<app-footer></app-footer>