<div class="container-fluid">
  <div class="row">
    <div class="col-3 d-flex flex-column justify-content-between" style="height: 100vh;">
      <div>
        <div class="sidebar">
          <h3>Panel MoviNay</h3>
          <p>Bienvenido de nuevo: {{ guardarUsuario }}</p>
          <p>Fecha de hoy: {{ today | date: 'dd/MM/yyyy' }}</p>
          <ul class="list-group">
            <li class="list-group-item" (click)="showComponent('citas')">CITAS</li>
            <li class="list-group-item" (click)="showComponent('pagos')">PAGOS</li>
            <li class="list-group-item">
              <a [routerLink]="['/home']">REGRESAR PAGINA PRINCIPAL</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center mb-3">
        <p>Versión 0.1</p>
      </div>
    </div>
    <div class="col-9 d-flex justify-content-center align-items-center">
      <ng-container *ngIf="currentComponent === 'citas'">
        <app-citas-c></app-citas-c>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'pagos'">
        <app-pago-ep></app-pago-ep>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'home'">
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </div>
</div>
