<div class="container-fluid">
  <div class="row">
    <div class="col-2 d-flex flex-column" style="height: 100vh;">
      <div>
        <div class="sidebar">
          <h3>Panel MoviNay</h3>
          <p>Bienvenido de nuevo: {{ guardarUsuario }}</p>
          <p>Fecha de hoy: {{ today | date: 'dd/MM/yyyy' }}</p>
          <ul class="list-group">
            <li class="list-group-item" (click)="showComponent('perfil')">MI PERFIL</li>
            <li class="list-group-item" (click)="showComponent('citas')">MIS CITAS</li>
            <li class="list-group-item" (click)="showComponent('pagos')">MIS PAGOS</li>
            <li class="list-group-item" (click)="showComponent('denuncias')">DENUNCIAS</li>
            <li class="list-group-item" (click)="showComponent('documentos')">MIS DOCUMENTOS</li>
            <li class="list-group-item" (click)="showComponent('usuarios')">USUARIOS</li>            
            <li class="list-group-item">
              <a [routerLink]="['/home']">REGRESAR PAGINA PRINCIPAL</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-10 d-flex flex-column">
      <ng-container *ngIf="currentComponent === 'citas'">
        <app-citas-c></app-citas-c>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'pagos'">
        <app-pago-ep></app-pago-ep>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'home'">
        <router-outlet></router-outlet>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'denuncias'">
        <app-denuncias></app-denuncias>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'usuarios'">
        <app-admin-vista-cita></app-admin-vista-cita>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'documentos'">
        <app-documentacion></app-documentacion>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'perfil'">
        <app-perfil></app-perfil>
      </ng-container>
    </div>    
  </div>
</div>
