<!-- ... Tu código HTML anterior ... -->
<header>
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-9 col-9 text-end">
          <div class="menu_icon" [class.menu_iconClass]="menu_icon_variable" (click)="openMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="menu" [class.menuClasse]="menuVariable">
            <ul>
              <li><a routerLink="/home">Inicio</a></li>
              <li><a routerLink="/home">Quienes Somos</a></li>
              <li><a routerLink="/home">Transparencia</a></li>
              <!-- Comprueba si el usuario está logueado y muestra su nombre si es así -->
              <!--<li *ngIf="userIsLoggedIn()">Bienvenido : {{guardarUsuario}}<a routerLink="/cuenta">Cuenta</a></li>-->
              <!-- Si el usuario está logueado, muestra un botón de cierre de sesión -->
             <li *ngIf="userIsLoggedIn()"><a (click)="logout()">Cerrar Sesión</a></li>
             <li *ngIf="userIsLoggedIn()"><a routerLink="/mi-cuenta">Mi cuenta</a></li>
              <!-- Si el usuario no está logueado, muestra un enlace de inicio de sesión -->
              <li *ngIf="!userIsLoggedIn()"><a routerLink="/sesion"><i class="fas fa-user"></i> Iniciar Sesión</a></li>
              <li (click)="closeMenu()" class="close-session"><a><i class="fas fa-times"></i> Cerrar Menú</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ... Tu código HTML posterior ... -->
  