/* MENU */

/* Establecer una fuente de texto predeterminada para todo el menú */
body {
  font-family: Arial, sans-serif;
}
.menu ul li.close-session {
  display: none;
}
header {
  position: relative;
  padding: 10px 0;
  background-image: linear-gradient(180deg, #f19583 0, #e68379 25%, #d86c6c 50%, #c95561 75%, #bd425b 100%);
  z-index: 1;
}

.menu {
  position: relative;
  z-index: 2;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.menu ul {
  padding: 0;
  margin: 0;
  text-align: right;
}
.menu ul li {
  display: inline-block;
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}

.menu ul li a:hover {
  color: rgb(121, 14, 14);
  border-radius: 5px;
}

/* Estilos para pantallas más pequeñas (responsive) */
@media (max-width: 999px) {
  .menu {
    position: fixed;
    right: -280px;
    top: 0;
    width: 280px;
    height: 100%;
    background: #000000;
    transition: 0.4s ease-in-out;
    z-index: 999;
  }
  .menu ul li.close-session {
    display: block;
  }

  .menu ul {
    text-align: left;
  }

  .menu ul li {
    display: block;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid #555;
  }

  .menu_icon {
    display: inline-block;
    position: relative;
    right: -100px;
    top: 10px;
  }

  .menu_icon span {
    width: 32px;
    height: 3px;
    background: #ffffff;
    display: block;
    transition: 0.2s ease-in-out;
  }

  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  }

  .menu_iconClass span:nth-child(1) {
    transform: rotate(45deg);
  }

  .menu_iconClass span:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -3px;
  }

  .menuClasse {
    right: 0;
  }

  /* Mostrar el botón de cierre cuando el menú es responsivo (pantalla pequeña) */
  .menu ul li.close-menu {
    display: block;
    color: #fa5757;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }

  .menu ul li.close-menu:hover {
    background-color: #ffffff;
    border-radius: 5px;
  }
}
